.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* This is the Nav Bar Section */
.Navbar {
  background-color: #0f1114;
  font-weight: bold;
  font-size: x-large;
  color: white;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.navHeader {
  color: white;
  font-style: normal;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.navLinks {
  list-style: none;
  display: inline-flex;
}

.navLink {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.navLink:hover {
  color: #61dafb;
}


/* This is the section for the Login Form */

.formContainer {
  background-color: #00000047;
  border-radius: 8px;
  padding: 25px;
  align-items: center;
  vertical-align: middle;
}

.formContainer h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: .5in;
}

.formContainer label {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 25px;
}

.formContainer input {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 20px;
} 

.formContainer button {
  background-color: white;
  font-size: 20px;
  margin-top: 15px;
  padding: 10px;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
}

.formContainer button:hover{
  background-color: navy;
  color: white;
  border-width: 2px;
  border-color: black;
}